In [1]:
import pandas as pd
# from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import datetime
import plotly.express as px
# import matplotlib.mlab as mlab
# from statistics import mean
# import pylab
import math
# import tweepy
# from botometer import Botometer
# from geopy.geocoders import Nominatim
# geolocator = Nominatim(user_agent="gianluca.nogara@gmail.com")
import warnings
warnings.filterwarnings('ignore')
import time
from time import perf_counter
import glob
import tweets_utils
import csv
import importlib
%autosave 3600

Autosaving every 3600 seconds

### Motivazioni
<p>
    
    Le motivazioni per la scelta di questi 12 nuovi utenti si basa su uno studio analogo a quanto fatto per i dozen dalla CCDH.
    
    Dal momento che non viene specificato di quale tipo di attività sono responsabili (tweet/retweet generati) si è scelto di estrarre le gli utenti che fanno "good information" e sono attivi sia tra i retweettati che post originali
    https://www.ucl.ac.uk/oppenheim/Covid-19_tweeps.shtml
</p>

#### Attività

In [50]:
path = glob.glob("C:/Users/Gianluca/Desktop/Supsi/Git/BachelorProject/to_be_scored/")
path_disinform = glob.glob("C:/Users/Gianluca/Desktop/Supsi/Git/BachelorProject/csv/")
path_large_files = glob.glob("C:/Users/Gianluca/Desktop/Supsi/Git/BachelorProject/large_files/")

In [68]:
file_verified = ["DrDenaGrayson", "MackayIM", "DrEricDing", "IlonaKickbusch", "ashishkjha", 
                 "HelenBranswell", "mlipsitch", "trvrb", "kakape", "edyong209", "CDCDirector",
                "DrTedros"]
df = pd.read_csv(path_large_files[0] + "ccdh/ccdh_merged_tweets_w_dates.csv")
df_v = pd.read_csv(path_large_files[0] + "verified_tweets.csv")

In [36]:
original = pd.read_csv(path[0] + "users_original.csv")
x = original[original["screen_name"].isin(file_verified)]
x

                        id     screen_name
3649   1124015363866484737      DrEricDing
7783             235332308  IlonaKickbusch
10928            376392888        DrTedros
10996           1276368350   DrDenaGrayson
19761           2449703372        MackayIM

In [37]:
retweet = pd.read_csv(path[0] + "users_retweeted.csv")
x = retweet[retweet["screen_name"].isin(file_verified)]
x

                        id     screen_name
16              1651522832   DrDenaGrayson
28                18831926      DrEricDing
53               189868631        DrTedros
509              224896427           trvrb
546             1352962327        MackayIM
1043              45586617          kakape
1590             270839361     CDCDirector
1825              19767193       edyong209
2457            2382227424  AdamJKucharski
2640             132349970       mlipsitch
5374              28838219  HelenBranswell
9064   1168968080690749440      ashishkjha
12824           2856703787  IlonaKickbusch

In [47]:
disinform = pd.read_csv(path_disinform[0] + "disinformation_users.csv")

In [45]:
x = original[original["screen_name"].isin(list(disinform["screen_name"]))]
x

Empty DataFrame
Columns: [id, screen_name]
Index: []

In [46]:
retweet = pd.read_csv(path[0] + "users_retweeted.csv")
x = retweet[retweet["screen_name"].isin(list(disinform["screen_name"]))]
x

               id      screen_name
3264     82788234          BusyDrT
10170  1668298164  RobertKennedyJr
13229   258677084         DrButtar
17425  3255274460          mercola

#### Timeline

In [69]:
df_users_verified_info = df_v[df_v["user_screen_name"].isin(file_verified)]
df_users_verified_info["created_at"]

In [65]:
dates = df_users_verified_info["created_at"].dropna()
dates_formatted = []
for i in dates:
    x = i.split()[0]
    if("2" in x):
        dates_formatted.append(x)
    else:
        y = tweets_utils.process_datetime(i)
        dates_formatted.append(y)

In [1]:
fig = px.histogram(dates_formatted)
fig.update_layout(
    title_text='Daily tweets from 12 "good users"', # title of plot
    xaxis_title_text='Tweet', # xaxis label
    yaxis_title_text='Count', # yaxis label
    bargap=0.1, # gap between bars of adjacent location coordinates
    bargroupgap=0.1 # gap between bars of the same location coordinates
)
fig.show()

In [70]:
dates = df["created_at"].dropna()
dates_formatted = []
for i in dates:
    x = i.split()[0]
    if("2" in x):
        dates_formatted.append(x)
    else:
        y = tweets_utils.process_datetime(i)
        dates_formatted.append(y)

In [76]:
val = []
list_data = ["2020-01", "2020-02", "2020-03", "2020-04", "2020-05"]
for i in dates_formatted:
    z1 = i.split("-")[0]
    z2 = i.split("-")[1]
    z = z1 + "-" + z2
    if (z in list_data):
        val.append(i)

In [2]:
fig = px.histogram(val)
fig.update_layout(
    title_text='Daily tweets from Dozen', # title of plot
    xaxis_title_text='Tweet', # xaxis label
    yaxis_title_text='Count', # yaxis label
    bargap=0.1, # gap between bars of adjacent location coordinates
    bargroupgap=0.1 # gap between bars of the same location coordinates
)
fig.show()