In [12]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import datetime
import plotly.express as px
import math
import warnings
warnings.filterwarnings('ignore')
import time
from time import perf_counter
import glob
import tweets_utils
import csv
import importlib
import seaborn as sns
path = glob.glob("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/")
%autosave 3600

Autosaving every 3600 seconds

In [13]:
# x = pd.DataFrame(x, columns=["screen_name"])
# x.to_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/300_good_users.csv", 
#          line_terminator="\n", index=False, encoding="utf-8")

In [15]:
df = pd.read_csv(path[0] + "/csv/300_good_users.csv", low_memory=False, lineterminator="\n")

In [16]:
df

        screen_name
0    HelenBranswell
1         mlipsitch
2             trvrb
3            kakape
4      JeremyFarrar
..              ...
345    greg_folkers
346         ISARIC1
347        WHOGOARN
348      jmayer0716
349     robyn_s_lee

[350 rows x 1 columns]