In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
from time import strptime
import datetime
from datetime import datetime
import warnings
import time
import csv
import glob
import logging
import importlib
import json
import networkx as nx
import seaborn as sns
import re
from operator import itemgetter
import matplotlib.cm as mcm
import community
from community import community_louvain as cm
import leidenalg as la
import igraph as ig
from cdlib import algorithms

In [2]:
path_nt = glob.glob("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/network/names/")
df = pd.read_csv(path_nt[0] + "rt_nt_19.csv", lineterminator="\n", low_memory=False)
df

                    name      rt_name
0           EyobMBekele1     DrSenait
1              KenyaCoin    TechMoran
2               kennekai     kennekai
3                 UMEAeo          WHO
4               SahapunB          WHO
...                  ...          ...
1774466  marianatrobosky      UNESCAP
1774467    wbawwwiiillll       WBADyl
1774468      tshwari_dee       News24
1774469      leticiacano     Pontifex
1774470       aprocyphal  BMA22528200

[1774471 rows x 2 columns]

In [3]:
retweets_graph = nx.from_pandas_edgelist(df,'name','rt_name', create_using=nx.DiGraph())
print(nx.info(retweets_graph)) #da ritornare le info

DiGraph with 607295 nodes and 1485565 edges

In [4]:
degree_dict = dict(retweets_graph.degree(retweets_graph.nodes()))
sorted_degree = sorted(degree_dict.items(), key=itemgetter(1), reverse=True)

In [5]:
in_degree_dict = dict(retweets_graph.in_degree(retweets_graph.nodes()))
sorted_in_degree = sorted(in_degree_dict.items(), key=itemgetter(1), reverse=True)

In [6]:
out_degree_dict = dict(retweets_graph.out_degree(retweets_graph.nodes()))
sorted_out_degree = sorted(out_degree_dict.items(), key=itemgetter(1), reverse=True)

## Louvain

In [4]:
retweets_graph_und = nx.from_pandas_edgelist(df,'name','rt_name')
print(nx.info(retweets_graph_und))

Graph with 607295 nodes and 1479294 edges

In [6]:
best_part = cm.best_partition(retweets_graph_und, random_state=42)

In [ ]:
best_part

In [ ]:
with open("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/network/louvain_comm/louvain_communities.json", 'w') as f:
    json.dump(best_part, f)