In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import datetime
import plotly.express as px
import math
import warnings
warnings.filterwarnings('ignore')
import time
from time import perf_counter
import glob
import tweets_utils
import csv
import importlib
%autosave 3600

Autosaving every 3600 seconds

In [6]:
path = glob.glob("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/to_be_scored/user*.csv")
centok = pd.DataFrame()
for name in path:
    df = pd.read_csv(name, lineterminator="\n", low_memory=False)
    df = tweets_utils.clean_data_format(df)
    centok = centok.append(df)
centok = centok.drop_duplicates(subset=["screen_name"])

In [15]:
path_prova = glob.glob("C:/Users/gianl/Desktop/prova/*.csv") #in base al mese
df = pd.read_csv(path_prova[0], lineterminator="\n", low_memory=False, usecols=["id","screen_name"])
df = df.append(centok)

In [17]:
df = df.drop_duplicates(subset=["screen_name"])

In [18]:
df

                        id      screen_name
0                624585646         prmfdynt
1      1134643848444096512     allmitaquino
2      1169267342208946183  GregoryTribiani
3                495615946      DenisseeNLB
4       978397877939654656   ASAMUELFEATURE
...                    ...              ...
19986            100044340   brandon_bryan_
19987             68858789     Menatplaycom
19989             72534237     Fallibilist1
19990   843360326724829184          _SayLee
19992             68977380   PalabrasdePepe

[1900834 rows x 2 columns]

In [28]:
feb = pd.read_csv(path_prova[0], lineterminator="\n", low_memory=False)

In [29]:
feb

,id,id_str,name,screen_name,location,description,url,protected,followers_count,friends_count,listed_count,created_at,favourites_count,geo_enabled,verified,statuses_count,contributors_enabled,default_profile,default_profile_image
0,1689800292,1689800292,"Alice Sato, MD PhD (she/her)",asato4kids,"Omaha, NE",Peds ID doc and hospital epi in Omaha (views m...,NaN,False,1168,1675,18,Thu Aug 22 02:45:07 +0000 2013,69839,False,False,17148,False,True,False
1,1027379881,1027379881,Jazzy Dolphin üê¨,JazzyDolphin,NaN,Good things come to those who believe better t...,https://t.co/aBky977LEW,False,3565,2810,130,Fri Dec 21 23:36:35 +0000 2012,47321,False,False,140079,False,False,False
2,478574091,478574091,skurr skurr üèåüèæ‚Äç‚ôÇÔ∏è,selectamarz_,London - Midlands,For Event/Booking Enquiries & Any Music/Media ...,https://t.co/Xbs0z481zr,False,1847,1653,17,Mon Jan 30 12:41:37 +0000 2012,17575,True,False,75187,False,True,False
3,2727917573,2727917573,Nobody,SilentInShadow,NaN,Find the music that gives you the strength to ...,https://t.co/mIVMcSMJDc,False,231,462,22,Tue Jul 29 05:58:56 +0000 2014,3882,False,False,11942,False,True,False
4,4536779895,4536779895,√Årea Editorial,AreaEditorial,World Wide Web,El espacio informativo para quienes les gusta ...,NaN,False,41080,28486,289,Sat Dec 19 15:47:15 +0000 2015,451,False,False,1646037,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4001641,4135112175,4135112175,ùìëùìªùì≤ùì∞ùì™ùì≠ùì™ùìº Comunicacionales ùìëùì™ùìªùì≤ùì∑ùì™ùìº,bcbarinas,"Barinas, Venezuela",Cuenta de la Brigadas comunicacionales Barinas,https://t.co/dB1OiSC8OD,False,2980,4296,8,Sat Nov 07 15:44:40 +0000 2015,16079,True,False,42286,False,False,False
4001642,1186098453782388736,1186098453782388736,bea,madewbookz,NaN,"i'm so sick of myself, i rather be anyone else...",NaN,False,122,161,1,Mon Oct 21 01:54:52 +0000 2019,1076,False,False,10845,False,True,False
4001643,255260695,255260695,Nacho,Nachoo_alegre,"Neuqu√©n, Argentina",üé§https://t.co/3JfBKFYubv,NaN,False,4251,2396,7,Mon Feb 21 00:44:58 +0000 2011,25300,True,False,39301,False,False,False
4001644,3560562495,3560562495,jonathan ü¶≠,spicymayojonjon,"Davie, FL",ü•Ä,https://t.co/E08Afj3cuY,False,318,1177,2,Sun Sep 06 00:10:30 +0000 2015,120747,True,False,71217,False,True,False
4001645,771728424373198848,771728424373198848,Torrie Cash ü¶ã,heyits_torrie,NaN,‚Ä¢‚Ä¢ coastal wbb alum & assistant coach ‚Ä¢‚Ä¢,NaN,False,1355,1130,2,Fri Sep 02 15:16:09 +0000 2016,39362,True,False,21128,False,True,False

In [26]:
1900834 + 4001646

5902480

In [30]:
merge = feb.merge(df, on="screen_name", how="left")
merge

,id_x,id_str,name,screen_name,location,description,url,protected,followers_count,friends_count,listed_count,created_at,favourites_count,geo_enabled,verified,statuses_count,contributors_enabled,default_profile,default_profile_image,id_y
0,1689800292,1689800292,"Alice Sato, MD PhD (she/her)",asato4kids,"Omaha, NE",Peds ID doc and hospital epi in Omaha (views m...,NaN,False,1168,1675,18,Thu Aug 22 02:45:07 +0000 2013,69839,False,False,17148,False,True,False,1.689800e+09
1,1027379881,1027379881,Jazzy Dolphin üê¨,JazzyDolphin,NaN,Good things come to those who believe better t...,https://t.co/aBky977LEW,False,3565,2810,130,Fri Dec 21 23:36:35 +0000 2012,47321,False,False,140079,False,False,False,1.027380e+09
2,478574091,478574091,skurr skurr üèåüèæ‚Äç‚ôÇÔ∏è,selectamarz_,London - Midlands,For Event/Booking Enquiries & Any Music/Media ...,https://t.co/Xbs0z481zr,False,1847,1653,17,Mon Jan 30 12:41:37 +0000 2012,17575,True,False,75187,False,True,False,NaN
3,2727917573,2727917573,Nobody,SilentInShadow,NaN,Find the music that gives you the strength to ...,https://t.co/mIVMcSMJDc,False,231,462,22,Tue Jul 29 05:58:56 +0000 2014,3882,False,False,11942,False,True,False,2.727918e+09
4,4536779895,4536779895,√Årea Editorial,AreaEditorial,World Wide Web,El espacio informativo para quienes les gusta ...,NaN,False,41080,28486,289,Sat Dec 19 15:47:15 +0000 2015,451,False,False,1646037,False,False,False,1.154348e+18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4001641,4135112175,4135112175,ùìëùìªùì≤ùì∞ùì™ùì≠ùì™ùìº Comunicacionales ùìëùì™ùìªùì≤ùì∑ùì™ùìº,bcbarinas,"Barinas, Venezuela",Cuenta de la Brigadas comunicacionales Barinas,https://t.co/dB1OiSC8OD,False,2980,4296,8,Sat Nov 07 15:44:40 +0000 2015,16079,True,False,42286,False,False,False,NaN
4001642,1186098453782388736,1186098453782388736,bea,madewbookz,NaN,"i'm so sick of myself, i rather be anyone else...",NaN,False,122,161,1,Mon Oct 21 01:54:52 +0000 2019,1076,False,False,10845,False,True,False,NaN
4001643,255260695,255260695,Nacho,Nachoo_alegre,"Neuqu√©n, Argentina",üé§https://t.co/3JfBKFYubv,NaN,False,4251,2396,7,Mon Feb 21 00:44:58 +0000 2011,25300,True,False,39301,False,False,False,NaN
4001644,3560562495,3560562495,jonathan ü¶≠,spicymayojonjon,"Davie, FL",ü•Ä,https://t.co/E08Afj3cuY,False,318,1177,2,Sun Sep 06 00:10:30 +0000 2015,120747,True,False,71217,False,True,False,NaN
4001645,771728424373198848,771728424373198848,Torrie Cash ü¶ã,heyits_torrie,NaN,‚Ä¢‚Ä¢ coastal wbb alum & assistant coach ‚Ä¢‚Ä¢,NaN,False,1355,1130,2,Fri Sep 02 15:16:09 +0000 2016,39362,True,False,21128,False,True,False,NaN

In [32]:
to_write = merge[merge["id_y"].isna()]

In [37]:
to_write.columns

Index(['id_x', 'id_str', 'name', 'screen_name', 'location', 'description',
       'url', 'protected', 'followers_count', 'friends_count', 'listed_count',
       'created_at', 'favourites_count', 'geo_enabled', 'verified',
       'statuses_count', 'contributors_enabled', 'default_profile',
       'default_profile_image', 'id_y'],
      dtype='object')

In [38]:
to_write = to_write.drop("id_y",1)
to_write.columns

Index(['id_x', 'id_str', 'name', 'screen_name', 'location', 'description',
       'url', 'protected', 'followers_count', 'friends_count', 'listed_count',
       'created_at', 'favourites_count', 'geo_enabled', 'verified',
       'statuses_count', 'contributors_enabled', 'default_profile',
       'default_profile_image'],
      dtype='object')

In [39]:
to_write = to_write.rename(columns={'id_x': 'id'})
to_write.columns

Index(['id', 'id_str', 'name', 'screen_name', 'location', 'description', 'url',
       'protected', 'followers_count', 'friends_count', 'listed_count',
       'created_at', 'favourites_count', 'geo_enabled', 'verified',
       'statuses_count', 'contributors_enabled', 'default_profile',
       'default_profile_image'],
      dtype='object')

In [40]:
to_write = to_write.drop_duplicates(subset=["screen_name"])
to_write = to_write.reset_index(drop=True)
to_write

,id,id_str,name,screen_name,location,description,url,protected,followers_count,friends_count,listed_count,created_at,favourites_count,geo_enabled,verified,statuses_count,contributors_enabled,default_profile,default_profile_image
0,478574091,478574091,skurr skurr üèåüèæ‚Äç‚ôÇÔ∏è,selectamarz_,London - Midlands,For Event/Booking Enquiries & Any Music/Media ...,https://t.co/Xbs0z481zr,False,1847,1653,17,Mon Jan 30 12:41:37 +0000 2012,17575,True,False,75187,False,True,False
1,2295399042,2295399042,SAMAD,SamadNafees,"Karachi, Pakistan",https://t.co/zJrFn3zX50,NaN,False,830,142,2,Fri Jan 17 03:27:12 +0000 2014,8312,True,False,10762,False,False,False
2,2974658059,2974658059,Iqtadar Ahmad,iqtadar1,Pakistan : Wazirabad,I am Radioactive !!!,NaN,False,323,931,8,Sun Jan 11 09:56:27 +0000 2015,87625,True,False,15641,False,False,False
3,3273562693,3273562693,Nadal-Nau Cazir üá≠üáπ‚úäNazal Le Slameur üé∏üé§üéºüñãüìö,cazirnadal95,"Port-au-Prince, HA√èTI",√âtudiant en science juridique/en R.I * ANTI-IN...,NaN,False,6802,4943,1,Thu Jul 09 23:49:06 +0000 2015,52932,True,False,13571,False,False,False
4,24574547,24574547,T'Other Simon,TOther_Simon,Bournemouth,I'm only in it for the funny. \n\nUkulele-both...,https://t.co/pEp2wMx9aA,False,4284,820,78,Sun Mar 15 19:51:33 +0000 2009,6,True,False,127455,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3118436,4135112175,4135112175,ùìëùìªùì≤ùì∞ùì™ùì≠ùì™ùìº Comunicacionales ùìëùì™ùìªùì≤ùì∑ùì™ùìº,bcbarinas,"Barinas, Venezuela",Cuenta de la Brigadas comunicacionales Barinas,https://t.co/dB1OiSC8OD,False,2980,4296,8,Sat Nov 07 15:44:40 +0000 2015,16079,True,False,42286,False,False,False
3118437,1186098453782388736,1186098453782388736,bea,madewbookz,NaN,"i'm so sick of myself, i rather be anyone else...",NaN,False,122,161,1,Mon Oct 21 01:54:52 +0000 2019,1076,False,False,10845,False,True,False
3118438,255260695,255260695,Nacho,Nachoo_alegre,"Neuqu√©n, Argentina",üé§https://t.co/3JfBKFYubv,NaN,False,4251,2396,7,Mon Feb 21 00:44:58 +0000 2011,25300,True,False,39301,False,False,False
3118439,3560562495,3560562495,jonathan ü¶≠,spicymayojonjon,"Davie, FL",ü•Ä,https://t.co/E08Afj3cuY,False,318,1177,2,Sun Sep 06 00:10:30 +0000 2015,120747,True,False,71217,False,True,False
3118440,771728424373198848,771728424373198848,Torrie Cash ü¶ã,heyits_torrie,NaN,‚Ä¢‚Ä¢ coastal wbb alum & assistant coach ‚Ä¢‚Ä¢,NaN,False,1355,1130,2,Fri Sep 02 15:16:09 +0000 2016,39362,True,False,21128,False,True,False

In [41]:
to_write.to_csv("C:/Users/gianl/Desktop/prova/users.csv", encoding="utf-8", line_terminator="\n", index=False)