In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import datetime
import plotly.express as px
import math
import warnings
warnings.filterwarnings('ignore')
import time
from time import perf_counter
import glob
import sys
sys.path.append('C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/notebook/tweet_utils')
import tweets_utils
import csv
import importlib
%autosave 3600

Autosaving every 3600 seconds

In [ ]:
path = glob.glob("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/to_be_scored/user*.csv")
centok = pd.DataFrame()
for name in path:
    df = pd.read_csv(name, lineterminator="\n", low_memory=False)
    df = tweets_utils.clean_data_format(df)
    centok = centok.append(df)
centok = centok.drop_duplicates(subset=["screen_name"])

In [ ]:
path_prova = glob.glob("C:/Users/gianl/Desktop/not_found_users/u_*.csv") #in base al mese
for i in path_prova:
    print("leggo ", i)
    df = pd.read_csv(i, lineterminator="\n", low_memory=False, usecols=["id","screen_name"])
    centok = centok.append(df)
    centok = centok.drop_duplicates(subset=["screen_name"])

In [ ]:
centok

In [ ]:
target = pd.read_csv("C:/Users/gianl/Desktop/prova/users.csv", 
                     lineterminator="\n", low_memory=False)

In [ ]:
target

In [ ]:
merge = target.merge(centok, left_on="screen_name",  right_on="screen_name", how="left")
merge

In [ ]:
to_write = merge[merge["id_y"].isna()]

In [ ]:
to_write

In [ ]:
to_write.columns

In [ ]:
to_write = to_write.drop("id_y",1)
to_write.columns

In [ ]:
to_write = to_write.rename(columns={'id_x': 'id'})
to_write.columns

In [ ]:
to_write = to_write.drop_duplicates(subset=["screen_name"])
to_write = to_write.reset_index(drop=True)
to_write

In [ ]:
to_write.to_csv("C:/Users/gianl/Desktop/prova/users.csv", encoding="utf-8", line_terminator="\n", index=False)

# Rewrite suspended

In [3]:
path = glob.glob("F:/Supsi/COVID-19-Tweets/large_files/not_found_users/users*.csv")
path

['F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_not_found_inspected_old.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_apr.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_feb.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_jan.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_mag.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_mar.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_try.csv']

In [5]:
nf = pd.DataFrame()
for i in path:
    df = pd.read_csv(i, low_memory=False, lineterminator="\n")
    nf = nf.append(df)
    nf = nf.drop_duplicates(subset=["id"])
    nf = nf.reset_index(drop=True)
nf

                        id  code                   message
0               2767590820    63  User has been suspended.
1       887508829587488768    63  User has been suspended.
2               1338073232    63  User has been suspended.
3      1147654506076725248    63  User has been suspended.
4      1160237865516838912    50           User not found.
...                    ...   ...                       ...
25738            311856115    50           User not found.
25739            933447206    63  User has been suspended.
25740   858542327215738880    50           User not found.
25741  1065131465720193025    50           User not found.
25742            962379378    63  User has been suspended.

[25743 rows x 3 columns]

In [6]:
suspended = nf[(nf['code']==63)]

In [9]:
suspended

                        id  code                   message
0               2767590820    63  User has been suspended.
1       887508829587488768    63  User has been suspended.
2               1338073232    63  User has been suspended.
3      1147654506076725248    63  User has been suspended.
5      1076440707626225664    63  User has been suspended.
...                    ...   ...                       ...
25731            114299539    63  User has been suspended.
25733   713873945439641600    63  User has been suspended.
25734   997673205354577920    63  User has been suspended.
25739            933447206    63  User has been suspended.
25742            962379378    63  User has been suspended.

[9625 rows x 3 columns]

In [8]:
# id_suspended = list(suspended[id])

In [ ]:
path = glob.glob("F:/Supsi/COVID-19-Tweets/large_files/not_found_users/u_*.csv")
path

In [ ]:
result = []
importlib.reload(tweets_utils)
start_time = time.perf_counter()
j = 0
daraframe = pd.DataFrame()
cols = ["id", "screen_name"]
for filename in path:
    print(f"Reading file: {filename}")
    result.extend(tweets_utils.process_all_data(filename, cols, True))
    lista = result[j]
    j = j + 1
    print(f"Mese numero {j}")
    for i in range(len(lista)):
        daraframe = daraframe.append(lista[i]["df"])

stop_time = time.perf_counter()
print("Time: ",stop_time-start_time)

In [ ]:
daraframe = daraframe.append(centok)
daraframe = daraframe.drop_duplicates(subset=["screen_name"])
daraframe

In [ ]:
x = suspended.merge(daraframe, on="id", how="left")

In [ ]:
list(x[x["screen_name"].isna()]["id"])

In [ ]:
path_data = glob.glob("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/id_finder/data/out*.json")
# path_data
lst_id = []
lst_user = []
for i in path_data:
    data = tweets_utils.read_from_json(i)
    for i in data["data"]:
        lst_id.append(i["id"])
        lst_user.append(i["username"])

In [ ]:
find = pd.DataFrame(list(zip(lst_id, lst_user)), columns=["id", "screen_name"])
find

In [ ]:
f = x[x["screen_name"].notna()]

In [ ]:
f = f.append(find)
f = f.drop_duplicates(subset=["id"])
f = f.reset_index(drop=True)
f = f[["id","screen_name"]]

In [ ]:
f.to_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/not_found/suspended.csv",
        line_terminator="\n", encoding="utf-8", index=False)

In [10]:
f = pd.read_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/not_found/suspended.csv",
        lineterminator="\n", low_memory=False)
f

                       id      screen_name
0              2767590820   ConElMazoDando
1      887508829587488768          thehawk
2              1338073232  onenewsofficial
3     1147654506076725248          Ace135Q
4               250425415      chris19thws
...                   ...              ...
9488  1027822379228000257      japenbbsppj
9489            140394191        SYSCARE20
9490             48865797         potkazar
9491           3965308156           p4d065
9492   838604291183095809     adrian_indio

[9493 rows x 2 columns]

In [11]:
suspended

                        id  code                   message
0               2767590820    63  User has been suspended.
1       887508829587488768    63  User has been suspended.
2               1338073232    63  User has been suspended.
3      1147654506076725248    63  User has been suspended.
5      1076440707626225664    63  User has been suspended.
...                    ...   ...                       ...
25731            114299539    63  User has been suspended.
25733   713873945439641600    63  User has been suspended.
25734   997673205354577920    63  User has been suspended.
25739            933447206    63  User has been suspended.
25742            962379378    63  User has been suspended.

[9625 rows x 3 columns]

In [12]:
x = suspended.merge(f, left_on="id", right_on="id", how="left")
x

                       id  code                   message      screen_name
0              2767590820    63  User has been suspended.   ConElMazoDando
1      887508829587488768    63  User has been suspended.          thehawk
2              1338073232    63  User has been suspended.  onenewsofficial
3     1147654506076725248    63  User has been suspended.          Ace135Q
4     1076440707626225664    63  User has been suspended.              NaN
...                   ...   ...                       ...              ...
9620            114299539    63  User has been suspended.         zaririha
9621   713873945439641600    63  User has been suspended.  missuniversal91
9622   997673205354577920    63  User has been suspended.           cutry6
9623            933447206    63  User has been suspended.  bloodtribeelect
9624            962379378    63  User has been suspended.       baekaeri06

[9625 rows x 4 columns]

In [16]:
x = x[x["screen_name"].notna()]

In [20]:
x.to_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/not_found/suspended_account.csv",
        line_terminator="\n", encoding="utf-8", index=False)

# Omran df

In [15]:
sus = pd.read_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/not_found/suspended_account.csv",
                 lineterminator="\n", low_memory=False)
sus[sus["code"]==63]
lst = list(sus["screen_name"])

9493

9493

In [21]:
files_tweets = glob.glob("F:/Supsi/COVID-19-Tweets/*/tweets.csv")
for c in pd.read_csv(files_tweets[0], chunksize=10, lineterminator="\n"):
    break
c.columns
cols_tweets = ['id', 'id_str', 'created_at', 'user_id', 'user_screen_name',
       'user_created_at', 'in_reply_to_status_id',
       'in_reply_to_status_id_str', 'in_reply_to_user_id',
       'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'rt_coordinates',
       'rt_created_at', 'rt_in_reply_to_status_id', 'rt_in_reply_to_user_id',
       'rt_lang', 'rt_favourite_count', 'rt_id', 'rt_user_id',
       'rt_user_screen_name', 'rt_user_created_at', 'rt_user_verified',
       'rt_user_followers_count', 'rt_user_friends_count',
       'rt_user_favourites_count', 'quoted_status_id', 'quoted_status_text',
       'quoted_status_created_at', 'quoted_user_id', 'quoted_user_created_at',
       'hashtags', 'user_mentions']

In [24]:
lst1 = ["Ace135Q"]
lst2 = ["onenewsofficial"]
sus[sus["screen_name"].isin([lst1]) | sus["screen_name"].isin(lst2)]

           id  code                   message      screen_name
2  1338073232    63  User has been suspended.  onenewsofficial

In [25]:
result = []
importlib.reload(tweets_utils)
start_time = time.perf_counter()
j = 0
df_suspended_all = pd.DataFrame()
for filename in files_tweets:
    print(f"Reading file: {filename}")
    result.extend(tweets_utils.process_all_data(filename, cols_tweets, True, lst))
    lista = result[j]
    j = j + 1
    print(f"Mese numero {j}")
    for i in range(len(lista)):
        df_suspended_all = df_suspended_all.append(lista[i]["df"])
    print(len(df_suspended_all))
stop_time = time.perf_counter()
print("Time: ",stop_time-start_time)

Reading file: F:/Supsi/COVID-19-Tweets\2020-01\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Mese numero 1
17672
Reading file: F:/Supsi/COVID-19-Tweets\2020-02\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Mese numero 2
68616
Reading file: F:/Supsi/COVID-19-Tweets\2020-03\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Processing chunk 13
Processing chunk 14
Processing chunk 15
Mese numero 3
116717
Reading file: F:/Supsi/COVID-19-Tweets\2020-04\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Processing chunk 13
Mese numero 4
161866
Reading file: F:/Supsi/COVID-19-Tweets\2020-05\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Processing chunk 13
Processing chunk 14
Processing chunk 15
Processing chunk 16
Processing chunk 17
Processing chunk 18
Processing chunk 19
Processing chunk 20
Processing chunk 21
Processing chunk 22
Processing chunk 23
Processing chunk 24
Mese numero 5
243260
Time:  2624.0800833000003

In [27]:
df_suspended_all = df_suspended_all.reset_index(drop=True)
df_suspended_all

,id,id_str,created_at,user_id,user_screen_name,user_created_at,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,rt_user_followers_count,rt_user_friends_count,rt_user_favourites_count,quoted_status_id,quoted_status_text,quoted_status_created_at,quoted_user_id,quoted_user_created_at,hashtags,user_mentions
0,1219760154553405440,1.219760e+18,Tue Jan 21 23:14:17 +0000 2020,7.736832e+17,debbie_dease,Thu Sep 08 00:43:53 +0000 2016,NaN,NaN,NaN,NaN,...,1003.0,3341.0,301.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'MatthewHilk', 'name': 'Matth..."
1,1219841735385329665,1.219842e+18,Wed Jan 22 04:38:27 +0000 2020,8.965093e+17,RLAS19,Sat Aug 12 23:10:45 +0000 2017,NaN,NaN,NaN,NaN,...,442.0,674.0,19689.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'yogagirl777suzi', 'name': 'S..."
2,1219858876394287106,1.219859e+18,Wed Jan 22 05:46:34 +0000 2020,5.527044e+08,Martesone,Fri Apr 13 13:40:40 +0000 2012,NaN,NaN,NaN,NaN,...,53802247.0,1102.0,1410.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'CNN', 'name': 'CNN', 'id': 7..."
3,1219898081564643328,1.219898e+18,Wed Jan 22 08:22:21 +0000 2020,1.015489e+18,PatPenn2,Sat Jul 07 06:53:36 +0000 2018,NaN,NaN,NaN,NaN,...,12268.0,13100.0,72024.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'Snack8671', 'name': '...', '..."
4,1219945837775638529,1.219946e+18,Wed Jan 22 11:32:07 +0000 2020,1.917616e+08,BigV2011WCE,Fri Sep 17 08:26:48 +0000 2010,NaN,NaN,NaN,NaN,...,27990.0,841.0,5366.0,NaN,NaN,NaN,NaN,NaN,"[{'text': 'BREAKING', 'indices': [25, 34]}]","[{'screen_name': 'ezracheungtoto', 'name': 'Ez..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243255,1261052256339857409,1.261052e+18,Thu May 14 21:54:21 +0000 2020,9.744555e+17,khirsten_,Fri Mar 16 01:21:15 +0000 2018,NaN,NaN,NaN,NaN,...,20133.0,573.0,7321.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'vexedinthecity', 'name': 'Co..."
243256,1260933762864435212,1.260934e+18,Thu May 14 14:03:30 +0000 2020,1.254120e+18,resiste62270058,Sat Apr 25 18:46:46 +0000 2020,NaN,NaN,NaN,NaN,...,20133.0,573.0,7321.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'vexedinthecity', 'name': 'Co..."
243257,1258336205298520077,1.258336e+18,Thu May 07 10:01:44 +0000 2020,8.429717e+08,TweetInder,Mon Sep 24 04:53:00 +0000 2012,NaN,NaN,NaN,NaN,...,15621.0,1.0,43023.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'thedelhiwalla', 'name': 'may..."
243258,1259776957555912704,1.259777e+18,Mon May 11 09:26:46 +0000 2020,5.336000e+07,Jangelfd,Fri Jul 03 11:23:07 +0000 2009,NaN,NaN,NaN,NaN,...,16424.0,6.0,2578.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'bouenmastodon', 'name': 'Bou..."
243259,1266964341007376385,1.266964e+18,Sun May 31 05:26:52 +0000 2020,1.922341e+07,neonne,Tue Jan 20 06:52:46 +0000 2009,NaN,NaN,23540968.0,23540968.0,...,NaN,NaN,NaN,1.266960e+18,"lots of looting in Emeryville tonight, shoppin...",Sun May 31 05:09:27 +0000 2020,19223413.0,Tue Jan 20 06:52:46 +0000 2009,[],"[{'screen_name': 'PhilipAlanPhoto', 'name': 'P..."

In [28]:
df_suspended_all.to_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/df_suspended_activities.csv",
                       line_terminator="\n", index=False, encoding="utf-8")

In [32]:
humans = pd.read_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/humans.csv",
                 lineterminator="\n", low_memory=False)
lst = list(humans["screen_name"])
humans = list(set(lst))

In [33]:
result = []
importlib.reload(tweets_utils)
start_time = time.perf_counter()
j = 0
df_humans_all = pd.DataFrame()
for filename in files_tweets:
    print(f"Reading file: {filename}")
    result.extend(tweets_utils.process_all_data(filename, cols_tweets, True, humans))
    lista = result[j]
    j = j + 1
    print(f"Mese numero {j}")
    for i in range(len(lista)):
        df_humans_all = df_humans_all.append(lista[i]["df"])
    print(len(df_humans_all))
stop_time = time.perf_counter()
print("Time: ",stop_time-start_time)

Reading file: F:/Supsi/COVID-19-Tweets\2020-01\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Mese numero 1
344555
Reading file: F:/Supsi/COVID-19-Tweets\2020-02\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Mese numero 2
838219
Reading file: F:/Supsi/COVID-19-Tweets\2020-03\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Processing chunk 13
Processing chunk 14
Processing chunk 15
Mese numero 3
1755400
Reading file: F:/Supsi/COVID-19-Tweets\2020-04\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Processing chunk 13
Mese numero 4
2134870
Reading file: F:/Supsi/COVID-19-Tweets\2020-05\tweets.csv
Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Processing chunk 13
Processing chunk 14
Processing chunk 15
Processing chunk 16
Processing chunk 17
Processing chunk 18
Processing chunk 19
Processing chunk 20
Processing chunk 21
Processing chunk 22
Processing chunk 23
Processing chunk 24
Mese numero 5
3129109
Time:  3345.4666375999996

In [35]:
df_humans_all = df_humans_all.reset_index(drop=True)
df_humans_all

,id,id_str,created_at,user_id,user_screen_name,user_created_at,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,rt_user_followers_count,rt_user_friends_count,rt_user_favourites_count,quoted_status_id,quoted_status_text,quoted_status_created_at,quoted_user_id,quoted_user_created_at,hashtags,user_mentions
0,1219754242732449792,1.219754e+18,Tue Jan 21 22:50:48 +0000 2020,2.981065e+08,WendyDavitto,Fri May 13 18:04:19 +0000 2011,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],[]
1,1219754028957085698,1.219754e+18,Tue Jan 21 22:49:57 +0000 2020,8.093849e+17,VetCanuck,Thu Dec 15 13:09:33 +0000 2016,1.219718e+18,1.219718e+18,1.563142e+08,1.563142e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'text': 'proveit', 'indices': [275, 283]}]","[{'screen_name': 'NoLore', 'name': 'Nora Loret..."
2,1219767394312257537,1.219767e+18,Tue Jan 21 23:43:03 +0000 2020,3.899612e+09,admirathoria,Thu Oct 08 13:04:01 +0000 2015,1.219766e+18,1.219766e+18,3.412637e+09,3.412637e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'timastweets', 'name': '🐳⁷', ..."
3,1219767852921540608,1.219768e+18,Tue Jan 21 23:44:52 +0000 2020,2.967463e+09,corruptvoltaire,Thu Jan 08 23:30:53 +0000 2015,NaN,NaN,NaN,NaN,...,3937263.0,270.0,517.0,NaN,NaN,NaN,NaN,NaN,"[{'text': 'coronavirus', 'indices': [47, 59]}]","[{'screen_name': 'CDCgov', 'name': 'CDC', 'id'..."
4,1219757541418291200,1.219758e+18,Tue Jan 21 23:03:54 +0000 2020,1.146621e+18,xuanzhuo85,Thu Jul 04 03:25:27 +0000 2019,NaN,NaN,NaN,NaN,...,49893675.0,820.0,18517.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'nytimes', 'name': 'The New Y..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3129104,1262454852833218562,1.262455e+18,Mon May 18 18:47:46 +0000 2020,1.499982e+09,red_fox36,Tue Jun 11 01:50:06 +0000 2013,NaN,NaN,NaN,NaN,...,239.0,276.0,2961.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'mrcoolmike_', 'name': 'Micha..."
3129105,1258093883847630848,1.258094e+18,Wed May 06 17:58:50 +0000 2020,1.164894e+18,PPatrick126,Fri Aug 23 13:37:38 +0000 2019,NaN,NaN,NaN,NaN,...,35495.0,1292.0,18146.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'bewaterhkg', 'name': 'BeWate..."
3129106,1262023296289251328,1.262023e+18,Sun May 17 14:12:55 +0000 2020,7.271491e+17,UrbanWitch9,Mon May 02 14:53:56 +0000 2016,NaN,NaN,NaN,NaN,...,680748.0,1694.0,26302.0,1.261829e+18,NaN,NaN,NaN,NaN,"[{'text': 'COVID', 'indices': [15, 21]}]","[{'screen_name': 'SRuhle', 'name': 'Stephanie ..."
3129107,1260169195435831296,1.260169e+18,Tue May 12 11:25:23 +0000 2020,4.793642e+08,MAhsanAzam,Tue Jan 31 09:20:35 +0000 2012,NaN,NaN,NaN,NaN,...,96932.0,599.0,83284.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'titojourno', 'name': 'Talat ..."
3129108,1266464208612241408,1.266464e+18,Fri May 29 20:19:31 +0000 2020,8.717640e+17,someleftyfucker,Mon Jun 05 16:21:46 +0000 2017,NaN,NaN,NaN,NaN,...,67327.0,1613.0,217278.0,NaN,NaN,NaN,NaN,NaN,[],"[{'screen_name': 'HayesBrown', 'name': 'Hayes ..."

In [36]:
df_humans_all.to_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/df_humans_activities.csv",
                       line_terminator="\n", index=False, encoding="utf-8")