In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import datetime
import plotly.express as px
import math
import warnings
warnings.filterwarnings('ignore')
import time
from time import perf_counter
import glob
import tweets_utils
import csv
import importlib
%autosave 3600

Autosaving every 3600 seconds

In [ ]:
path = glob.glob("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/to_be_scored/user*.csv")
centok = pd.DataFrame()
for name in path:
    df = pd.read_csv(name, lineterminator="\n", low_memory=False)
    df = tweets_utils.clean_data_format(df)
    centok = centok.append(df)
centok = centok.drop_duplicates(subset=["screen_name"])

In [ ]:
path_prova = glob.glob("C:/Users/gianl/Desktop/not_found_users/u_*.csv") #in base al mese
for i in path_prova:
    print("leggo ", i)
    df = pd.read_csv(i, lineterminator="\n", low_memory=False, usecols=["id","screen_name"])
    centok = centok.append(df)
    centok = centok.drop_duplicates(subset=["screen_name"])

In [ ]:
centok

In [ ]:
target = pd.read_csv("C:/Users/gianl/Desktop/prova/users.csv", 
                     lineterminator="\n", low_memory=False)

In [ ]:
target

In [ ]:
merge = target.merge(centok, left_on="screen_name",  right_on="screen_name", how="left")
merge

In [ ]:
to_write = merge[merge["id_y"].isna()]

In [ ]:
to_write

In [ ]:
to_write.columns

In [ ]:
to_write = to_write.drop("id_y",1)
to_write.columns

In [ ]:
to_write = to_write.rename(columns={'id_x': 'id'})
to_write.columns

In [ ]:
to_write = to_write.drop_duplicates(subset=["screen_name"])
to_write = to_write.reset_index(drop=True)
to_write

In [ ]:
to_write.to_csv("C:/Users/gianl/Desktop/prova/users.csv", encoding="utf-8", line_terminator="\n", index=False)

# Rewrite suspended

In [3]:
path = glob.glob("F:/Supsi/COVID-19-Tweets/large_files/not_found_users/users*.csv")
path

['F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_not_found_inspected_old.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_apr.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_feb.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_jan.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_mag.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_mar.csv',
 'F:/Supsi/COVID-19-Tweets/large_files/not_found_users\\users_with_not_found_info_inspected_try.csv']

In [5]:
nf = pd.DataFrame()
for i in path:
    df = pd.read_csv(i, low_memory=False, lineterminator="\n")
    nf = nf.append(df)
    nf = nf.drop_duplicates(subset=["id"])
    nf = nf.reset_index(drop=True)
nf

                        id  code                   message
0               2767590820    63  User has been suspended.
1       887508829587488768    63  User has been suspended.
2               1338073232    63  User has been suspended.
3      1147654506076725248    63  User has been suspended.
4      1160237865516838912    50           User not found.
...                    ...   ...                       ...
25738            311856115    50           User not found.
25739            933447206    63  User has been suspended.
25740   858542327215738880    50           User not found.
25741  1065131465720193025    50           User not found.
25742            962379378    63  User has been suspended.

[25743 rows x 3 columns]

In [6]:
suspended = nf[(nf['code']==63)]

In [9]:
suspended

                        id  code                   message
0               2767590820    63  User has been suspended.
1       887508829587488768    63  User has been suspended.
2               1338073232    63  User has been suspended.
3      1147654506076725248    63  User has been suspended.
5      1076440707626225664    63  User has been suspended.
...                    ...   ...                       ...
25731            114299539    63  User has been suspended.
25733   713873945439641600    63  User has been suspended.
25734   997673205354577920    63  User has been suspended.
25739            933447206    63  User has been suspended.
25742            962379378    63  User has been suspended.

[9625 rows x 3 columns]

In [8]:
# id_suspended = list(suspended[id])

In [ ]:
path = glob.glob("F:/Supsi/COVID-19-Tweets/large_files/not_found_users/u_*.csv")
path

In [ ]:
result = []
importlib.reload(tweets_utils)
start_time = time.perf_counter()
j = 0
daraframe = pd.DataFrame()
cols = ["id", "screen_name"]
for filename in path:
    print(f"Reading file: {filename}")
    result.extend(tweets_utils.process_all_data(filename, cols, True))
    lista = result[j]
    j = j + 1
    print(f"Mese numero {j}")
    for i in range(len(lista)):
        daraframe = daraframe.append(lista[i]["df"])

stop_time = time.perf_counter()
print("Time: ",stop_time-start_time)

In [ ]:
daraframe = daraframe.append(centok)
daraframe = daraframe.drop_duplicates(subset=["screen_name"])
daraframe

In [ ]:
x = suspended.merge(daraframe, on="id", how="left")

In [ ]:
list(x[x["screen_name"].isna()]["id"])

In [ ]:
path_data = glob.glob("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/id_finder/data/out*.json")
# path_data
lst_id = []
lst_user = []
for i in path_data:
    data = tweets_utils.read_from_json(i)
    for i in data["data"]:
        lst_id.append(i["id"])
        lst_user.append(i["username"])

In [ ]:
find = pd.DataFrame(list(zip(lst_id, lst_user)), columns=["id", "screen_name"])
find

In [ ]:
f = x[x["screen_name"].notna()]

In [ ]:
f = f.append(find)
f = f.drop_duplicates(subset=["id"])
f = f.reset_index(drop=True)
f = f[["id","screen_name"]]

In [ ]:
f.to_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/not_found/suspended.csv",
        line_terminator="\n", encoding="utf-8", index=False)

In [10]:
f = pd.read_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/not_found/suspended.csv",
        lineterminator="\n", low_memory=False)
f

                       id      screen_name
0              2767590820   ConElMazoDando
1      887508829587488768          thehawk
2              1338073232  onenewsofficial
3     1147654506076725248          Ace135Q
4               250425415      chris19thws
...                   ...              ...
9488  1027822379228000257      japenbbsppj
9489            140394191        SYSCARE20
9490             48865797         potkazar
9491           3965308156           p4d065
9492   838604291183095809     adrian_indio

[9493 rows x 2 columns]

In [11]:
suspended

                        id  code                   message
0               2767590820    63  User has been suspended.
1       887508829587488768    63  User has been suspended.
2               1338073232    63  User has been suspended.
3      1147654506076725248    63  User has been suspended.
5      1076440707626225664    63  User has been suspended.
...                    ...   ...                       ...
25731            114299539    63  User has been suspended.
25733   713873945439641600    63  User has been suspended.
25734   997673205354577920    63  User has been suspended.
25739            933447206    63  User has been suspended.
25742            962379378    63  User has been suspended.

[9625 rows x 3 columns]

In [12]:
x = suspended.merge(f, left_on="id", right_on="id", how="left")
x

                       id  code                   message      screen_name
0              2767590820    63  User has been suspended.   ConElMazoDando
1      887508829587488768    63  User has been suspended.          thehawk
2              1338073232    63  User has been suspended.  onenewsofficial
3     1147654506076725248    63  User has been suspended.          Ace135Q
4     1076440707626225664    63  User has been suspended.              NaN
...                   ...   ...                       ...              ...
9620            114299539    63  User has been suspended.         zaririha
9621   713873945439641600    63  User has been suspended.  missuniversal91
9622   997673205354577920    63  User has been suspended.           cutry6
9623            933447206    63  User has been suspended.  bloodtribeelect
9624            962379378    63  User has been suspended.       baekaeri06

[9625 rows x 4 columns]

In [16]:
x = x[x["screen_name"].notna()]

In [20]:
x.to_csv("C:/Users/gianl/Desktop/Gi/Supsi/BachelorProject/csv/not_found/suspended_account.csv",
        line_terminator="\n", encoding="utf-8", index=False)